<h1>グループ作成画面</h1>
<%= form_with model: @group do |f| %>
  <p>グループ名</p></br>
  <%= f.text_field :name %>
  <p>紹介文</p></br>
  <%= f.text_area :introduction %>
  <p>グループ画像</p>
  <%= f.submit "グループを作成する"%>
<% end %>