<% if books.errors.any? %>
    <h3><%= books.errors.count %>errors</h3>
    <ul>
      <% books.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
    <% end %>